---
layout: default
---
<div class="hero" style="background-image: url('{{ site.image_base_url }}/DSC01039.jpg')">
  <div class="hero-overlay">
    <h1 class="hero-title">{{ site.title }}</h1>
    <p class="hero-subtitle">{{ site.description }}</p>
  </div>
</div>

<div class="home-sections">
  <a href="{{ '/archive/' | relative_url }}" class="home-section">
    <h2>Archive of Seen Worlds</h2>
    <p>Photography + Art</p>
  </a>
  <a href="https://brianbochicchio.substack.com/" class="home-section">
    <h2>My Substack</h2>
    <p>Writing, reflectiion and humor.</p>
  </a>
  <a href="{{ '/about/' | relative_url }}" class="home-section">
    <h2>About</h2>
    <p>Who is Brian</p>
  </a>
</div>